.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-left-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-17px {
  font-size: 17px;
}

.fs-18px {
  font-size: 18px;
}

.fs-19px {
  font-size: 19px;
}

.fs-20px {
  font-size: 20px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.w-150px {
  width: 150px !important;
}

.h-fit {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.main-color {
  color: #fd9a21;
}

.alt-color {
  color: #071028;
}

.color-222 {
  color: #222;
}

.color-777 {
  color: #777;
}

.green-color {
  color: #3bc100;
}

@media print {
  .not-print {
    display: none !important;
  }
}
.opacity-75 {
  opacity: 0.75;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.main-btn {
  padding: 4px 30px;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
  color: #fff;
  background-color: #fd9a21;
}
.main-btn:hover {
  background-color: #f79621;
}
.main-btn.full {
  width: 100%;
}

.btn-alt {
  padding: 4px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #071028;
}
.btn-alt.pill {
  border-radius: 59px;
}
.btn-alt.bg-p {
  padding-top: 14px;
  padding-bottom: 14px;
}
.btn-alt.full {
  width: 100%;
}

.main-heading {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #071028;
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 95px;
}
.main-heading::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: 20px;
  height: 3px;
  width: calc(100% - 40px);
  background-color: #fd9a21;
}
.main-heading.sm-mb {
  margin-bottom: 70px;
}

.medium-heading {
  color: #fd9a21;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.small-heading {
  color: #071028;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.title-heading {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
}

.box-white {
  padding: 20px;
  border-radius: 24px;
  border: 1px solid rgba(7, 16, 40, 0.4);
  background-color: #fff;
}

.blocks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}
.blocks-grid.j-two {
  gap: 150px;
}
.blocks-grid.j-two .box-gray.column-content:not(:last-child)::before {
  left: -75px;
}

.box-gray {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 20px;
}
.box-gray.no-rounded {
  border-radius: 0;
}
.box-gray.column-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  padding: 20px 50px;
}
.box-gray.column-content .img-holder {
  margin-bottom: 10px;
  width: 70px;
  height: 60px;
}
.box-gray.column-content .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.box-gray.column-content .name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 20px;
}
.box-gray.column-content .des {
  font-weight: 700;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 0;
}
.box-gray.column-content:not(:last-child)::before {
  position: absolute;
  content: "";
  left: -15px;
  top: 50%;
  width: 3px;
  height: calc(100% - 20px);
  transform: translateY(-50%);
  background-color: #071028;
  opacity: 0.6;
  border-radius: 80px;
}

.box-border {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 4px solid #fd9a21;
  min-height: 100px;
  padding: 20px;
  color: #071028;
}
.box-border .number {
  font-size: 32px;
  font-weight: 700;
}
.box-border .icon {
  position: absolute;
  left: 15px;
  top: calc(50% - 10px);
  transform: translateY(-50%);
}
.box-border .icon i, .box-border .icon svg {
  font-size: 37px;
}
.box-border .name {
  font-size: 25px;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  background-color: #f6f3fa;
  color: #010b14;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #010b14;
}
a:hover {
  color: #fd9a21;
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

input {
  direction: rtl !important;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

input, select, textarea {
  transition: 0.3s;
}
input:focus, select:focus, textarea:focus {
  transition: 0.3s;
  box-shadow: none !important;
  border: 1px solid #fd9a21 !important;
}

.section-border {
  border-bottom: 13px solid #fd9a21;
  padding-bottom: 75px !important;
}

.section-bg {
  background-color: #f0f0f0;
}

.gray-text {
  color: #7b7b7b;
}

.bg-gray {
  background-color: #d0d0d0;
}

.won-hr {
  width: 100%;
  height: 3px;
  opacity: 0.6;
  background-color: #071028;
}

.main-nav {
  background-color: #fff;
  padding: 0;
  min-height: 70px;
}
.main-nav .navbar-brand {
  margin-left: 0px;
}
.main-nav .navbar-brand img {
  width: 110px;
  height: 50px;
  border-radius: 45px;
}
.main-nav .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex: 1;
}
.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  color: #000;
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
}
.main-nav .navbar-nav .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fd9a21;
}
.main-nav .navbar-nav .nav-item .nav-link.active::before {
  content: none;
}
.main-nav .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transition: 0.3s;
  transform: scale(0);
  background-color: #fd9a21;
}
.main-nav .navbar-nav .nav-item .nav-link:hover::before {
  transform: scale(1);
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link {
  padding: 4px 10px;
  color: #fff;
  transition: 0.3s;
  background-color: #fd9a21;
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link i,
.main-nav .navbar-nav .nav-item.dropdown .nav-link svg {
  font-size: 12px;
  margin-left: 4px;
  transition: 0.3s;
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link:hover {
  background-color: #f79621;
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link[aria-expanded=true] i,
.main-nav .navbar-nav .nav-item.dropdown .nav-link[aria-expanded=true] svg {
  transform: rotate(180deg);
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link:after {
  content: none;
}
.main-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  display: block;
  right: auto;
  left: 0;
  min-width: 130px;
  padding: 0;
  border: 0;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(163, 159, 159, 0.4117647059);
}
.main-nav .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  text-align: end;
}
.main-nav .navbar-nav .nav-item.dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}
.main-nav .navbar-nav .mode-holder .btn-mode {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 3px 5px;
  transition: 0.3s;
}
.main-nav .navbar-nav .mode-holder .btn-mode i,
.main-nav .navbar-nav .mode-holder .btn-mode svg {
  font-size: 30px;
}
.main-nav .navbar-nav .mode-holder .btn-mode:hover {
  border-color: #000;
  transform: scale(1.03);
}

.Landing .text-content .t-m {
  font-size: 55px;
  font-weight: 700;
  color: #fd9a21;
}
.Landing .text-content .s-t {
  font-weight: 700;
  font-size: 45px;
  color: #071028;
}
.Landing .text-content .btn-alt {
  font-size: 15px;
}
.Landing .box-white .input-group {
  flex-direction: row-reverse;
}
.Landing .box-white .input-group .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
  font-size: 20px;
  color: #071028;
  padding-right: 20px;
  text-align: center;
}
.Landing .box-white .input-group .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  margin-right: 0;
  background-color: #d0d0d0;
  color: #7b7b7b;
  font-weight: 500;
  justify-content: center;
  font-size: 15px;
  width: 140px;
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .t-m {
    font-size: 53px !important;
  }
  .s-t {
    font-size: 38px !important;
  }
  .btn-alt {
    font-size: 13px !important;
  }
  .Landing .box-white .input-group .input-group-text {
    font-size: 13px !important;
    width: 100px !important;
  }
  .blocks-grid.j-two .box-gray.column-content:not(:last-child)::before {
    left: -75px;
    top: 50%;
    width: 3px;
    height: calc(100% - 20px);
    transform: translateY(-50%);
  }
  .blocks-grid .box-gray.column-content .name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .blocks-grid .box-gray.column-content .des {
    font-size: 12px;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .t-m {
    text-align: center;
    font-size: 50px !important;
  }
  .s-t {
    text-align: center;
    font-size: 40px !important;
  }
  .btn-alt {
    margin: auto;
    font-size: 15px !important;
  }
  .j-two {
    gap: 30px !important;
  }
  .j-two .box-gray.column-content:not(:last-child)::before {
    left: -15px !important;
    top: 50% !important;
    width: 3px !important;
    height: calc(100% - 20px) !important;
    transform: translateY(-50%) !important;
  }
}
@media (max-width: 575.98px) {
  .t-m {
    text-align: center;
    font-size: 35px !important;
  }
  .s-t {
    text-align: center;
    font-size: 30px !important;
  }
  .btn-alt {
    margin: auto;
    font-size: 13px !important;
    text-align: center;
  }
  .Landing .box-white .input-group .form-select {
    font-size: 17px !important;
    padding-right: 10px !important;
  }
  .Landing .box-white .input-group .input-group-text {
    font-size: 13px !important;
    width: 100px !important;
  }
  .main-heading {
    font-size: 25px;
  }
  .main-heading.sm-mb {
    margin-bottom: 55px !important;
  }
  .j-two {
    gap: 30px !important;
  }
  .j-two .box-gray.column-content:not(:last-child)::before {
    left: 0px !important;
  }
  .box-border .number {
    font-size: 30px;
  }
  .box-border .icon i, .box-border .icon svg {
    font-size: 35px;
  }
  .box-border .name {
    font-size: 25px;
  }
}
@media (max-width: 850px) {
  .blocks-grid .box-gray.column-content .name {
    font-size: 18px !important;
    margin-bottom: 10px;
  }
  .blocks-grid .box-gray.column-content .des {
    font-size: 13px !important;
  }
  .blocks-grid .box-gray.column-content:not(:last-child)::before {
    left: 0px;
    top: calc(100% + 15px);
    width: 100%;
    height: 3px;
    transform: none;
  }
}/*# sourceMappingURL=main.css.map */