.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-left-column {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: flex-start;
}

.fs-10px {
  font-size: 10px !important;
}

.fs-11px {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13px {
  font-size: 13px !important;
}

.fs-14px {
  font-size: 14px !important;
}

.fs-15px {
  font-size: 15px !important;
}

.fs-16px {
  font-size: 16px !important;
}

.fs-17px {
  font-size: 17px !important;
}

.fs-18px {
  font-size: 18px !important;
}

.fs-19px {
  font-size: 19px !important;
}

.fs-20px {
  font-size: 20px !important;
}

.fs-21px {
  font-size: 21px !important;
}

.fs-22px {
  font-size: 22px !important;
}

.fs-23px {
  font-size: 23px !important;
}

.fs-24px {
  font-size: 24px !important;
}

.fs-25px {
  font-size: 25px !important;
}

.fs-26px {
  font-size: 26px !important;
}

.fs-27px {
  font-size: 27px !important;
}

.fs-28px {
  font-size: 28px !important;
}

.fs-29px {
  font-size: 29px !important;
}

.fs-30px {
  font-size: 30px !important;
}

.fs-50px {
  font-size: 50px !important;
}

.fw-600 {
  font-weight: 600 !important;
}

.w-fit {
  width: -moz-fit-content !important;
  width: fit-content !important;
}

.w-150px {
  width: 150px !important;
}

.h-fit {
  height: -moz-fit-content !important;
  height: fit-content !important;
}

.main-color {
  color: #fd9a21 !important;
}

.alt-color {
  color: #071028 !important;
}

.alt-color-light {
  color: #3C4254 !important;
}

.alt-21293E {
  color: #21293E !important;
}

.gray-color {
  color: #7b7b7b;
}

.color-222 {
  color: #222;
}

.color-777 {
  color: #777;
}

.green-color {
  color: #3bc100;
}

.bg-gray {
  background-color: #d0d0d0;
}

@media print {
  .not-print {
    display: none !important;
  }
}
.opacity-75 {
  opacity: 0.75;
}

.dir-rtl {
  direction: rtl !important;
}

.dir-ltr {
  direction: ltr !important;
}

.after-border-section {
  padding-top: 100px !important;
}

.lineh-1 {
  line-height: 50px;
}

.main-btn {
  padding: 4px 30px;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
  color: #fff;
  background-color: #fd9a21;
}
.main-btn:hover {
  color: #fff;
  background-color: #ed8e1a;
}

.btn-alt {
  padding: 4px 30px;
  border-radius: 12px;
  font-size: 16px;
  color: #fff;
  transition: 0.3s;
  background-color: #071028;
}
.btn-alt:hover {
  background-color: #3C4254;
  color: #fff;
}
.btn-alt.bg-p {
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-alt.alt-light-bg {
  background-color: #3C4254;
}
.btn-alt.alt-light-bg:hover {
  background-color: #071028;
  color: #fff;
}
.btn-alt.p-big {
  padding: 15px 85px;
}

.main-heading {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #071028;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 95px;
}
.main-heading::before {
  position: absolute;
  content: "";
  bottom: -25px;
  left: 20px;
  height: 3px;
  width: calc(100% - 40px);
  background-color: #fd9a21;
}
.main-heading.sm-mb {
  margin-bottom: 60px;
}

.xl-heading {
  color: #fd9a21;
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.medium-heading {
  color: #fd9a21;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.small-heading {
  color: #071028;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

.title-heading {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 35px;
}

.page-heading {
  font-size: 55px;
  font-weight: 700;
  color: #fd9a21;
  line-height: 75px;
  margin-bottom: 80px;
}

.text-style-one {
  font-weight: 700;
  font-size: 19px;
  margin-bottom: 50px;
}

.box-white {
  padding: 20px;
  border-radius: 24px;
  border: 1px solid rgba(7, 16, 40, 0.4);
  background-color: #fff;
}

.blocks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}
.blocks-grid.j-two {
  gap: 150px;
}
.blocks-grid.j-two .box-gray.column-content:not(:last-child)::before {
  left: -75px;
}

.box-gray {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: #D9D9D9;
  padding: 20px;
  border-radius: 15px;
}
.box-gray.column-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  padding: 20px 45px;
}
.box-gray.column-content .img-holder {
  margin-bottom: 10px;
  width: 70px;
  height: 60px;
}
.box-gray.column-content .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.box-gray.column-content .name {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 15px;
}
.box-gray.column-content .des {
  font-weight: 700;
  font-size: 13px;
  line-height: 25px;
  margin-bottom: 0;
}
.box-gray.column-content:not(:last-child)::before {
  position: absolute;
  content: "";
  left: -13px;
  top: 50%;
  width: 3px;
  height: calc(100% - 15px);
  transform: translateY(-50%);
  background-color: #071028;
  opacity: 0.6;
  border-radius: 80px;
}
.box-gray.testimonial {
  margin-top: 65px;
}
.box-gray.testimonial .img-holder {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.box-gray.testimonial .img-holder img {
  border-radius: 50%;
}
.box-gray.testimonial .name {
  margin-top: 20px;
  font-size: 27px;
  opacity: 0.75;
}
.box-gray.testimonial .des {
  font-size: 16px;
  opacity: 0.75;
}
.box-gray.state {
  display: flex;
  flex-direction: column;
  border-radius: 0;
  direction: ltr;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}
.box-gray.state .state-number {
  color: #071028;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.75;
}

.box-border {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 4px solid #fd9a21;
  min-height: 100px;
  padding: 20px;
  color: #071028;
}
.box-border .number {
  font-size: 32px;
  font-weight: 700;
}
.box-border .icon {
  position: absolute;
  left: 15px;
  top: calc(50% - 10px);
  transform: translateY(-50%);
}
.box-border .icon i,
.box-border .icon svg {
  font-size: 37px;
}
.box-border .name {
  font-size: 25px;
  font-weight: 700;
}

.box-subscribe {
  margin-top: 100px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-subscribe .title {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
  color: #3C4254;
}
.box-subscribe .holder {
  background-color: #fd9a21;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-subscribe .holder input {
  width: 300px;
  max-width: 100%;
  text-align: center;
  background-color: #D9D9D9;
  border: 1px solid #D9D9D9;
  padding: 6px 15px;
  border-radius: 6px;
}
.box-subscribe .holder input::-moz-placeholder {
  font-weight: 700;
  font-size: 15px;
  color: #3C4254;
  opacity: 0.7;
}
.box-subscribe .holder input::placeholder {
  font-weight: 700;
  font-size: 15px;
  color: #3C4254;
  opacity: 0.7;
}
.box-subscribe .holder input:focus::-moz-placeholder {
  opacity: 0;
}
.box-subscribe .holder input:focus::placeholder {
  opacity: 0;
}
.box-subscribe .holder button {
  font-weight: 700;
  font-size: 15px;
  text-align: center;
  padding: 6px 30px;
  border-radius: 6px;
  color: #fff;
  background-color: #fd9a21;
}

.box-white-rounded {
  padding: 15px 40px;
  border-radius: 40px;
  box-shadow: 0px 2.48506px 2.48506px rgba(0, 0, 0, 0.25);
  opacity: 0.77;
  font-weight: 700;
  font-size: 18px;
  line-height: 35px;
  color: #21293e;
  background-color: #fff;
}

.box-level {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.box-level .circle {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
  font-weight: 700;
  color: #fff;
  background-color: #fb9612;
}
.box-level .circle span {
  line-height: 1;
  font-size: 23px;
  margin-bottom: 3px;
  display: block;
  font-weight: 600;
}
.box-level .circle p {
  font-weight: 600;
  margin-bottom: 7px;
  font-size: 27px;
  line-height: 1;
}
.box-level .circle h6 {
  font-size: 35px;
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 767.98px) {
  .box-level {
    flex-direction: column;
    text-align: center;
  }
}

.news-box {
  display: block;
  background-color: #D9D9D9;
  border-radius: 15px 15px 20px 20px;
}
.news-box .img-holder {
  width: 100%;
  height: 250px;
}
.news-box .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.news-box .des {
  padding: 25px;
  text-align: center;
}
.news-box .des .title {
  font-weight: 700;
  color: #21293E;
  font-size: 22px;
  margin-bottom: 30px;
}
.news-box .des .date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.news-box .des .date p {
  margin-bottom: 0;
  color: #62656C;
  font-size: 16px;
}
.news-box.show {
  background-color: transparent;
  border-radius: 0;
}
.news-box.show .img-holder {
  height: 300px;
}
.news-box.show .img-holder img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
}
.news-box.show .des {
  margin-bottom: 20px;
  padding: 0;
}
.news-box.show .des .title {
  margin-top: 35px;
  font-size: 25px;
}
.news-box.show .date {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  gap: 100px;
}
.news-box.show .date p {
  font-size: 15px;
}
.news-box.show .text-content {
  opacity: 0.7;
  line-height: 32px;
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 767.98px) {
  .news-box.show .img-holder {
    height: 100%;
  }
  .news-box.show .des .title {
    font-size: 18px;
  }
  .news-box.show .text-content {
    font-size: 14px;
  }
}

* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

html {
  scroll-behavior: smooth;
}

/* start scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 0px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: #fd9a21;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #ed8e1a;
}

/* end scroll bar */
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  background-color: #f6f3fa;
  color: #010b14;
}

ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}

a {
  text-decoration: none;
  color: #010b14;
}
a:hover {
  color: #fd9a21;
}

button {
  border: none;
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

input {
  direction: rtl !important;
}
input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.3s;
  transition: 0.3s;
}
input:focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}

input,
select,
textarea {
  transition: 0.3s;
}
input:focus,
select:focus,
textarea:focus {
  transition: 0.3s;
  box-shadow: none !important;
  border: 1px solid #fd9a21 !important;
}

.section-border {
  border-bottom: 13px solid #fd9a21;
  padding-bottom: 75px !important;
}

.won-hr {
  width: 100%;
  height: 3px;
  opacity: 0.6;
  background-color: #071028;
}

.list-disc {
  list-style: disc;
}

.circle-number {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-weight: 600;
  color: #fff;
  background-color: #fb9612;
}

.main-info {
  flex-grow: 1;
  padding: 12px 25px;
  border-radius: 60px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.77;
  box-shadow: 0px 2.48506px 2.48506px rgba(0, 0, 0, 0.25);
  color: #fff;
  background-color: #fb9612;
}

.image-custom-one {
  width: 100%;
  height: 320px;
}
.image-custom-one img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.image-custom-one.long-height {
  height: 350px;
}
.image-custom-one.long-height img {
  -o-object-fit: unset;
     object-fit: unset;
}

.img-border {
  width: 100%;
  height: 380px;
}
.img-border img {
  width: 100%;
  height: 100%;
}

.testimonial-swiper {
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 40px;
}
.testimonial-swiper .swiper-pagination {
  bottom: 0px;
}
.testimonial-swiper .swiper-pagination .swiper-pagination-bullet {
  width: 13px;
  height: 6px;
  border-radius: 10px;
  background-color: #625f5f;
  transition: 0.4s;
}
.testimonial-swiper .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: 22px;
  background-color: #fd9a21;
}

.main-table {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
}
.main-table thead th {
  text-align: center;
  border: 2px solid #fff;
  border-top: 0;
  padding: 20px;
  font-weight: 700;
  font-size: 18px;
  vertical-align: middle;
  color: #3C4254;
  opacity: 0.75;
}
.main-table thead th:first-child {
  border-right: 0;
}
.main-table thead th:last-child {
  border-left: 0;
}
.main-table tbody td {
  border: 2px solid #fff;
  border-bottom: 0;
  padding: 20px;
  font-weight: 600;
  font-size: 17px;
  text-align: center;
  color: #3C4254;
  opacity: 0.75;
}
.main-table tbody td:first-child {
  border-right: 0;
}
.main-table tbody td:last-child {
  border-left: 0;
}

.sing-log-page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sing-log-page .box-sing-log {
  background-color: #fff;
  border-radius: 10px;
  padding: 25px;
}
.sing-log-page .box-sing-log .box-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.sing-log-page .box-sing-log .box-content .heading {
  text-align: center;
  color: #3C4254;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 40px;
}
.sing-log-page .box-sing-log .box-content .inp-holder .sing-log-label {
  font-size: 11px;
  font-weight: 700;
  margin-bottom: 6px;
  color: gray;
}
.sing-log-page .box-sing-log .box-content .inp-holder input {
  background-color: #D9D9D9;
  border-radius: 0.25rem;
}
.sing-log-page .box-sing-log .box-content .btn-holder {
  margin-top: 13px;
}
.sing-log-page .box-sing-log .box-content .btn-holder .main-btn {
  border-radius: 0.25rem;
  font-size: 18px;
}
.sing-log-page .box-sing-log .box-content .option-sing-log {
  color: #3C4254;
  font-size: 13px;
  font-weight: 700;
}
.sing-log-page .box-sing-log .box-content .option-sing-log a {
  transition: 0.3s;
  color: #fd9a21;
}
.sing-log-page .box-sing-log .box-content .option-sing-log a:hover {
  color: #ed8e1a;
}
.sing-log-page .box-sing-log .box-content .option-sing-log.forget {
  transition: 0.3s;
}
.sing-log-page .box-sing-log .box-content .option-sing-log.forget:hover {
  color: #fd9a21;
}
.sing-log-page .box-sing-log .img-holder {
  width: 100%;
  height: 400px;
}
.sing-log-page .box-sing-log .img-holder img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
@media (max-width: 767.98px) {
  .sing-log-page .box-sing-log .img-holder {
    height: 100%;
  }
}

.main-nav {
  background-color: #fff;
  padding: 0;
  min-height: 70px;
}
.main-nav .navbar-brand {
  margin-left: 0px;
}
.main-nav .navbar-brand img {
  width: 110px;
  height: 50px;
  border-radius: 45px;
}
.main-nav .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
  flex: 1;
}
.main-nav .navbar-nav .nav-item .nav-link {
  position: relative;
  color: #000;
  display: block;
  font-weight: 600;
  font-size: 16px;
  text-align: right;
}
.main-nav .navbar-nav .nav-item .nav-link.active::after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fd9a21;
}
.main-nav .navbar-nav .nav-item .nav-link.active::before {
  content: none;
}
.main-nav .navbar-nav .nav-item .nav-link::before {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  transition: 0.3s;
  transform: scale(0);
  background-color: #fd9a21;
}
.main-nav .navbar-nav .nav-item .nav-link:hover::before {
  transform: scale(1);
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link {
  padding: 4px 10px;
  color: #fff;
  transition: 0.3s;
  background-color: #fd9a21;
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link i,
.main-nav .navbar-nav .nav-item.dropdown .nav-link svg {
  font-size: 12px;
  margin-left: 4px;
  transition: 0.3s;
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link:hover {
  background-color: #ed8e1a;
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link[aria-expanded=true] i,
.main-nav .navbar-nav .nav-item.dropdown .nav-link[aria-expanded=true] svg {
  transform: rotate(180deg);
}
.main-nav .navbar-nav .nav-item.dropdown .nav-link:after {
  content: none;
}
.main-nav .navbar-nav .nav-item.dropdown .dropdown-menu {
  display: block;
  right: auto;
  left: 0;
  min-width: 130px;
  padding: 0;
  border: 0;
  border-radius: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  box-shadow: 0 2px 5px 0 rgba(163, 159, 159, 0.4117647059);
}
.main-nav .navbar-nav .nav-item.dropdown .dropdown-menu .dropdown-item {
  text-align: end;
}
.main-nav .navbar-nav .nav-item.dropdown .dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}
.main-nav .navbar-nav .mode-holder .btn-mode {
  background-color: #000;
  color: #fff;
  border-radius: 2px;
  padding: 3px 5px;
  transition: 0.3s;
}
.main-nav .navbar-nav .mode-holder .btn-mode i,
.main-nav .navbar-nav .mode-holder .btn-mode svg {
  font-size: 30px;
}
.main-nav .navbar-nav .mode-holder .btn-mode:hover {
  border-color: #000;
  transform: scale(1.03);
}

.Landing .text-content .t-m {
  font-size: 55px;
  font-weight: 700;
  color: #fd9a21;
  line-height: 75px;
}
.Landing .text-content .t-s {
  font-weight: 700;
  font-size: 45px;
  color: #071028;
  line-height: 70px;
  margin-bottom: 30px;
}
.Landing .text-content .btn-alt {
  font-size: 15px;
}
.Landing .box-white .input-group {
  flex-direction: row-reverse;
}
.Landing .box-white .input-group .form-select {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: bold;
  font-size: 20px;
  color: #071028;
  padding-right: 20px;
  text-align: center;
}
.Landing .box-white .input-group .input-group-text {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -1px;
  margin-right: 0;
  background-color: #d0d0d0;
  color: #7b7b7b;
  font-weight: 500;
  justify-content: center;
  font-size: 15px;
  width: 140px;
}

.faq .accordion-item {
  border-radius: 10px;
  border: 0;
}
.faq .accordion-item .accordion-header .accordion-button {
  font-weight: 700;
  font-size: 17px;
  border-radius: 10px;
  background-color: #fff;
  color: #3C4254;
  opacity: 0.65;
  padding: 20px 16px;
  box-shadow: none;
}
.faq .accordion-item .accordion-header .accordion-button::after {
  background-position: center;
  opacity: 1;
  background-image: url("../img/plus.png");
}
.faq .accordion-item .accordion-header .accordion-button[aria-expanded=true]::after {
  opacity: 1;
  transform: none;
  background-image: url("../img/minus.png");
}
.faq .accordion-item:not(:last-child) {
  margin-bottom: 25px;
}

.partners .partners-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  background-color: #fff;
  padding: 3px 10px;
}
.partners .partners-container .partner-img {
  position: relative;
}
.partners .partners-container .partner-img img {
  width: 90px;
}
.partners .partners-container .partner-img.floor img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -80px;
  width: 150px;
}

.main-footer {
  background-image: url("../img/footer-bg.png");
}
.main-footer .logo-footer img {
  width: 190px;
  height: 100px;
}
.main-footer .lists-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}
.main-footer .lists-holder .list-footer li a {
  display: block;
  font-size: 18px;
  padding: 10px 15px;
  font-weight: 600;
  color: #fff;
  transition: 0.3s;
}
.main-footer .lists-holder .list-footer li a.active {
  color: #fd9a21;
}
.main-footer .lists-holder .list-footer li a:hover {
  color: #fd9a21;
}
.main-footer .lists-holder .list-footer .nested-list {
  list-style: disc;
  color: #fff;
  padding-right: 30px;
}
.main-footer .lists-holder .list-footer .nested-list li a {
  padding-right: 0px;
  padding-bottom: 0;
}
.main-footer .list-footer-icon li {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-end;
  gap: 10px;
  padding: 17px 15px;
}
.main-footer .list-footer-icon li img {
  width: 30px;
}
.main-footer .list-footer-icon li span {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
  .main-heading {
    font-size: 45px;
  }
  .main-heading.sm-mb {
    margin-bottom: 55px !important;
  }
  .t-s {
    font-size: 38px !important;
    margin-bottom: 20px !important;
  }
  .btn-alt {
    font-size: 15px !important;
    text-align: center;
  }
  .Landing .box-white .input-group .input-group-text {
    font-size: 13px !important;
    width: 100px !important;
  }
  .blocks-grid .box-gray.column-content {
    padding: 25px !important;
  }
  .blocks-grid .box-gray.column-content .des {
    font-size: 12px !important;
  }
  .blocks-grid.j-two .box-gray.column-content:not(:last-child)::before {
    left: -75px;
    top: 50%;
    width: 3px;
    height: calc(100% - 20px);
    transform: translateY(-50%);
  }
  .blocks-grid .box-gray.column-content .name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .blocks-grid .box-gray.column-content .des {
    font-size: 12px;
  }
  .main-table thead th {
    font-size: 15px;
  }
  .partners .partners-container {
    gap: 12px;
  }
  .partners .partners-container .partner-img img {
    width: 80px;
  }
  .partners .partners-container .partner-img.floor img {
    top: -60px;
    width: 110px;
  }
  .news-box .des .title {
    font-size: 19px;
  }
  .news-box .des .date p {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  .blocks-grid .box-gray.column-content .name {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .blocks-grid .box-gray.column-content .des {
    font-size: 13px;
    text-align: center;
  }
  .blocks-grid .box-gray.column-content:not(:last-child)::before {
    left: 0px;
    top: calc(100% + 15px);
    width: 100%;
    height: 3px;
    transform: none;
  }
  .box-subscribe {
    margin-top: 35px;
  }
  .box-subscribe .title {
    font-size: 16px !important;
  }
}
@media (min-width: 575.98px) and (max-width: 767.98px) {
  .main-heading {
    font-size: 34px;
  }
  .main-heading.sm-mb {
    margin-bottom: 55px !important;
  }
  .t-m {
    text-align: center;
    font-size: 50px !important;
  }
  .t-s {
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 22px !important;
  }
  .btn-alt {
    margin: auto;
    font-size: 15px !important;
  }
  .box-gray.column-content {
    padding: 20px !important;
  }
  .box-gray.column-content .des {
    font-size: 12px !important;
  }
  .j-two {
    gap: 30px !important;
  }
  .j-two .box-gray.column-content:not(:last-child)::before {
    left: -15px !important;
    top: 50% !important;
    width: 3px !important;
    height: calc(100% - 20px) !important;
    transform: translateY(-50%) !important;
  }
  .main-table thead th {
    font-size: 16px;
  }
  .partners .partners-container {
    gap: 6px;
  }
  .partners .partners-container .partner-img img {
    width: 60px;
  }
  .partners .partners-container .partner-img.floor img {
    top: -55px;
    width: 90px;
  }
  .w-fit-full {
    width: 100% !important;
  }
}
@media (max-width: 575.98px) {
  .t-m {
    text-align: center;
    font-size: 43px !important;
    line-height: 70px !important;
  }
  .t-s {
    text-align: center;
    font-size: 33px !important;
    line-height: 55px !important;
    margin-bottom: 20px !important;
  }
  .btn-alt {
    margin: auto;
    font-size: 14px !important;
    text-align: center;
  }
  .Landing .box-white .input-group .form-select {
    font-size: 17px !important;
    padding-right: 10px !important;
  }
  .Landing .box-white .input-group .input-group-text {
    font-size: 13px !important;
    width: 100px !important;
  }
  .main-heading {
    font-size: 23px;
  }
  .main-heading.sm-mb {
    margin-bottom: 55px !important;
  }
  .box-gray.column-content {
    padding: 20px !important;
  }
  .box-gray.column-content .des {
    font-size: 12px !important;
  }
  .j-two {
    gap: 30px !important;
  }
  .j-two .box-gray.column-content:not(:last-child)::before {
    left: 0px !important;
  }
  .box-border .number {
    font-size: 30px;
  }
  .box-border .icon i,
  .box-border .icon svg {
    font-size: 35px;
  }
  .box-border .name {
    font-size: 25px;
  }
  .main-info {
    font-size: 15px;
  }
  .circle-number {
    font-size: 28px;
  }
  .faq .accordion-item .accordion-header .accordion-button {
    font-size: 16px;
  }
  .main-table thead th {
    font-size: 13px;
  }
  .box-subscribe {
    margin-top: 30px;
  }
  .box-subscribe .title {
    margin-bottom: 20px;
    font-size: 14px !important;
    text-align: center;
  }
  .box-subscribe .holder input {
    width: 100%;
  }
  .box-subscribe .holder input::-moz-placeholder {
    font-size: 15px;
  }
  .box-subscribe .holder input::placeholder {
    font-size: 15px;
  }
  .box-subscribe button {
    font-size: 15px;
    padding: 6px 20px;
  }
  .faq .accordion-item .accordion-header .accordion-button {
    font-size: 14px;
  }
  .faq .accordion-item .accordion-header .accordion-button::after {
    background-size: 0.9rem;
  }
  .partners .partners-container {
    position: relative;
    gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3px 10px 15px;
  }
  .partners .partners-container .partner-img {
    position: unset;
  }
  .partners .partners-container .partner-img img {
    width: 70px;
  }
  .partners .partners-container .partner-img.floor img {
    top: -20px;
    width: 80px;
  }
  .image-custom-one img {
    -o-object-fit: contain;
       object-fit: contain;
  }
  .news-box .des .title {
    font-size: 18px;
  }
  .news-box .des .date p {
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */