.box-white {
  padding: 20px;
  border-radius: 24px;
  border: 1px solid rgba(7, 16, 40, 0.4);
  background-color: $white-color;
}

.blocks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  // Start Nested Class J-two
  &.j-two {
    gap: 150px;
    .box-gray {
      &.column-content {
        &:not(:last-child) {
          &::before {
            left: -75px;
          }
        }
      }
    }
  }
}

.box-gray {
  position: relative;
  width: 100%;
  min-height: 100px;
  background-color: $light-gray-color;
  padding: 20px;
  border-radius: 15px;
  // Start Nested Class Column Content
  &.column-content {
    @include flex-center-column;
    min-height: 260px;
    padding: 20px 50px;
    .img-holder {
      margin-bottom: 10px;
      width: 70px;
      height: 60px;
      img {
        @include full-w-h;
        object-fit: contain;
      }
    }
    .name {
      font-weight: 700;
      font-size: 25px;
      margin-bottom: 20px;
    }
    .des {
      font-weight: 700;
      font-size: 14px;
      line-height: 25px;
      margin-bottom: 0;
    }
    &:not(:last-child) {
      &::before {
        position: absolute;
        content: "";
        left: -15px;
        top: 50%;
        width: 3px;
        height: calc(100% - 15px);
        transform: translateY(-50%);
        background-color: $alt-color;
        opacity: 0.6;
        border-radius: 80px;
      }
    }
  }
  // Start Nested Class Testimonial
  &.testimonial {
    margin-top: 65px;
    .img-holder {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      @include circle(100px);
      img {
        border-radius: 50%;
      }
    }
    .name {
      margin-top: 20px;
      font-size: 27px;
      opacity: 0.75;
    }
    .des {
      font-size: 16px;
      opacity: 0.75;
    }
  }
}

.box-border {
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50px;
  border: 4px solid $main-color;
  min-height: 100px;
  padding: 20px;
  color: $alt-color;
  .number {
    font-size: 32px;
    font-weight: 700;
  }
  .icon {
    position: absolute;
    left: 15px;
    top: calc(50% - 10px);
    transform: translateY(-50%);
    i,
    svg {
      font-size: 37px;
    }
  }
  .name {
    font-size: 25px;
    font-weight: 700;
  }
}

.box-subscribe {
  margin-top: 100px;
  @include flex-center-column;
  .title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 18px;
    color: $alt-color-light;
  }
  .holder {
    background-color: $main-color;
    border-radius: 6px;
    @include flex-center;
    input {
      width: 300px;
      max-width: 100%;
      text-align: center;
      background-color: $light-gray-color;
      border: 1px solid $light-gray-color;
      padding: 6px 15px;
      border-radius: 6px;
      &::placeholder {
        font-weight: 700;
        font-size: 15px;
        color: $alt-color-light;
        opacity: 0.7;
      }
      &:focus {
        &::placeholder {
          opacity: 0;
        }
      }
    }
    button {
      font-weight: 700;
      font-size: 15px;
      text-align: center;
      padding: 6px 30px;
      border-radius: 6px;
      color: $white-color;
      background-color: $main-color;
    }
  }
}
