.main-btn {
  padding: 4px 30px;
  border-radius: 10px;
  font-size: 16px;
  transition: $sm-transition;
  color: $white-color;
  background-color: $main-color;
  &:hover {
    background-color: $main-color-dark;
  }
}

.btn-alt {
  padding: 4px 30px;
  font-size: 16px;
  color: $white-color;
  background-color: $alt-color;
  &.bg-p {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}