.hidden-y-x {
  overflow-x: hidden;
  overflow-y: hidden;
}

.fs-10px {
  font-size: 10px;
}

.fs-11px {
  font-size: 11px;
}

.fs-12 {
  font-size: 12px;
}

.fs-13px {
  font-size: 13px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-26px {
  font-size: 26px;
}

.fw-600 {
  font-weight: 600 !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.w-150px {
  width: 150px;
}

.text-link {
  color: #0d6efd;
}
.main-color {
  color: $main-color;
}
.color-222 {
  color: #222;
}
.color-777 {
  color: #777;
}
@media print {
  .not-print {
    display: none !important;
  }
}

.bg-grey {
  background-color: #F5F5F5;
}

.green-color {
  color: #3bc100;
}
