$main-color: #fd9a21;
$main-color-dark: #ed8e1a;
$alt-color: #071028;
$alt-color-light: #3C4254;
$white-color: #fff;
$black-color: #000;
$gray-color: #d0d0d0;
$light-gray-color: #D9D9D9;
$yellow-color: #fcd531;
$pink-color: #f71d5b;
$trouble-d: #ddd;
$main-text-color: #010b14;
$gray-text: #7b7b7b;
$main-bg: #f6f3fa;
