* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  font-family: 'Cairo', sans-serif;
  font-size: 14px;
  background-color: $main-bg;
  color: $main-text-color;
}
ul {
  @include reset-ul;
}
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}

// Reset Input
input:focus,
select:focus {
  outline: none;
}
input {
  direction: rtl !important;
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}
input, select, textarea {
  transition: $sm-transition;
  &:focus {
    transition: $sm-transition;
    box-shadow: none !important;
    border: 1px solid $main-color !important;
  }
}

// Global Main Classes
.section-border {
  border-bottom: 13px solid $main-color;
  padding-bottom: 75px !important;
}
.won-hr {
  width: 100%;
  height: 3px;
  opacity: .6;
  background-color: $alt-color;
}