* {
  @include reset-all;
}
html {
  scroll-behavior: smooth;
}
/* start scroll bar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 0px #ddd inset;
}

::-webkit-scrollbar-thumb {
  background-color: $main-color;
  border-radius: 20px;
  &:hover {
    background-color: $main-color-dark;
  }
}
/* end scroll bar */
body {
  min-height: 100vh;
  font-family: "Cairo", sans-serif;
  font-size: 14px;
  background-color: $main-bg;
  color: $main-text-color;
}
ul {
  @include reset-ul;
}
a {
  @include a-reset;
}
// reset btn
button {
  border: none;
  outline: none;
}

// Reset Input
input:focus,
select:focus {
  outline: none;
}
input {
  direction: rtl !important;
  &:focus::placeholder {
    opacity: 0;
    transition: $sm-transition;
  }
}
input,
select,
textarea {
  transition: $sm-transition;
  &:focus {
    transition: $sm-transition;
    box-shadow: none !important;
    border: 1px solid $main-color !important;
  }
}

// Global Main Classes
.section-border {
  border-bottom: 13px solid $main-color;
  padding-bottom: 75px !important;
}
.won-hr {
  width: 100%;
  height: 3px;
  opacity: 0.6;
  background-color: $alt-color;
}

.list-disc {
  list-style: disc;
}

.circle-number {
  @include circle(54px);
  @include flex-center;
  font-size: 35px;
  font-weight: 600;
  color: $white-color;
  background-color: #fb9612;
}

.main-info {
  flex-grow: 1;
  padding: 12px 25px;
  border-radius: 60px;
  font-size: 18px;
  font-weight: 600;
  opacity: 0.77;
  box-shadow: 0px 2.48506px 2.48506px rgba(0, 0, 0, 0.25);
  color: $white-color;
  background-color: #fb9612;
}

// Image Custom
.image-custom-one {
  width: 100%;
  height: 320px;
  img {
    @include full-w-h;
    object-fit: cover;
  }
  &.long-height {
    height: 350px;
    img {
      object-fit: unset;
    }
  }
}
.img-border {
  width: 100%;
  height: 380px;
  img {
    @include full-w-h;
  }
}


// Slider Swiper
.testimonial-swiper {
  height: fit-content;
  padding-bottom: 40px;
  .swiper-pagination {
    bottom: 0px;
    .swiper-pagination-bullet {
      width: 13px;
      height: 6px;
      border-radius: 10px;
      background-color: #625f5f;
      transition: $main-transition;
      &.swiper-pagination-bullet-active {
        width: 22px;
        background-color: $main-color;
      }
    }
  }
}

// Tables Style
.main-table {
  background: rgba(217, 217, 217, 0.5);
  border-radius: 20px;
  thead {
    th {
      text-align: center;
      border: 2px solid $white-color;
      border-top: 0;
      padding: 20px;
      font-weight: 700;
      font-size: 18px;
      vertical-align: middle;
      color: $alt-color-light;
      opacity: 0.75;
      &:first-child {
        border-right: 0;
      }
      &:last-child {
        border-left: 0;
      }
    }
  }
  tbody {
    td {
      border: 2px solid $white-color;
      border-bottom: 0;
      padding: 20px;
      font-weight: 600;
      font-size: 17px;
      text-align: center;
      color: $alt-color-light;
      opacity: 0.75;
      &:first-child {
        border-right: 0;
      }
      &:last-child {
        border-left: 0;
      }
    }
  }
}
