.Landing {
  .text-content {
    .t-m {
      font-size: 55px;
      font-weight: 700;
      color: $main-color;
    }
    .s-t {
      font-weight: 700;
      font-size: 45px;
      color: $alt-color;
    }
    .btn-alt {
      font-size: 15px;
    }
  }
  .box-white {
    .input-group {
      flex-direction: row-reverse;
      .form-select {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        font-weight: bold;
        font-size: 23px;
        color: $alt-color;
        padding-right: 20px;
      }
      .input-group-text {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin-left: -1px;
        margin-right: 0;
        background-color: $gray-color;
        color: $gray-text;
        font-weight: 500;
        justify-content: center;
        font-size: 15px;
        width: 140px;
      }
    }
  }
}
